#footer-bottom {

  padding: 40px 0 30px;
  background: $brand-blue;

  .container {
    text-align: center;

    .et-social-icons{
      float: none!important;
      margin-top: 10px;

      li {
        margin: 0 10px;
        a {
          color: $brand-white;
        }
      }
    }
  }

  .footer_legal, .footer_legal a {
    margin-top: 15px;
    text-transform: uppercase;
    color: $brand-white;
  }

}


#main-footer {

  h3 {
    color: $brand-white;
    text-align: center;
    margin-bottom: 10px;
  }

  background-image: url('img/arrows-bg.png');
  padding-top:40px;
  clear: both;
  text-align: center;
  color: $brand-white;

  .custom-form {
    margin: 0 auto;
    padding: 0 25%;
    margin-bottom: 40px;
    min-height: 80px;
  }

  .custom-form__group:first-child{
    display: inline-block;
    float: left;
    width: 75%;
  }

  .custom-form__group:last-child{
    display: inline-block;
    float: left;
    width: 25%;
  }


  @media only screen and (max-width: 980px)  {


    .custom-form {
      padding: 0 10%;
    }

    .custom-form__group:first-child, .custom-form__group:last-child{
      width: 100%;
    }

  }


}
