
// extend class
.logo {
  display: inline-block;
  width: 130px;
  height: 75px;
}

.logo_container {

  display: inline-block;
  float: none;
  max-height: 60%;
  margin-bottom: 0;
  vertical-align: middle;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translate3d(0,0,0);

  #logo_dark {
    display: none;
  }

  #logo_light {
    display: inline-block;
    width: 130px;
    height: 75px;
    background:url($logo-white) no-repeat;
  }

}

.et-fixed-header, .fixed-header  {
  #logo_light {
    width: 130px;
    height: 75px;
    display: none;
    background:url($logo-white) no-repeat;
  }

  #logo_dark {
    width: 130px;
    height: 75px;
    display: inline-block;
    background:url($logo-orange) no-repeat;
  }
}
