%shadow {
  -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.15);
  -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.15);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(0,0,0,.25);
}

%animation {
  transition: 0.5s;
  -webkit-transition: 0.5s;

  &:after,
  &:before {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    padding: 2px;
    -webkit-transform: scale(0);
    transition: 0.5s;
    border-radius: 2px;
  }

  &:before {
    border-bottom: 3px solid $brand-orange;
    border-left: 3px solid $brand-orange;
    -webkit-transform-origin: 0 100%;
  }

  &:after {
    border-top: 3px solid $brand-orange;
    border-right: 3px solid $brand-orange;
    -webkit-transform-origin: 100% 0;
  }

  &:hover {
    border-color: transparent;
    color: $brand-orange;

    &::after,
    &::before {
      -webkit-transform: scale(1);
    }
  }
}

.btn {
  white-space: nowrap;
  width: auto;
  text-align: center;
  display: inline;
  cursor: pointer;
  position: relative;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 2px;

  &--block {
    display: block;
    padding: 5px;
  }
  // Colours
  &--gray {
    @include linear-gradient($brand-gray-light, $brand-gray);
    @extend %shadow;
    border: 1px solid $brand-gray;

    &:hover {
      @include linear-gradient($brand-gray, $brand-gray-light);
    }
  }

  &--orange {
    @include linear-gradient($brand-orange-light, $brand-orange);
    @extend %shadow;
    border: 1px solid $brand-orange;

    &:hover {
      @include linear-gradient($brand-orange, $brand-orange-light);
    }
  }

  &--blue {
    @include linear-gradient($brand-blue-light, $brand-blue);
    @extend %shadow;
    border: 1px solid $brand-blue;

    &:hover {
      @include linear-gradient($brand-blue, $brand-blue-light);
    }
  }

  &--yellow {
    @include linear-gradient($brand-yellow-light, $brand-yellow);
    @extend %shadow;
    border: 1px solid $brand-yellow;

    &:hover {
      @include linear-gradient($brand-yellow, $brand-yellow-light);
    }
  }

  &--green {
    @include linear-gradient($brand-green-light, $brand-green);
    @extend %shadow;
    border: 1px solid $brand-green;

    &:hover {
      @include linear-gradient($brand-green, $brand-green-light);
    }
  }

  &--pink {
    @include linear-gradient($brand-pink-light, $brand-pink);
    @extend %shadow;
    border: 1px solid $brand-pink;

    &:hover {
      @include linear-gradient($brand-pink, $brand-pink-light);
    }
  }
  // Outline
  &--gray-outline {
    color: $brand-gray;
    border: 3px solid $brand-gray;
    @extend %animation;
  }

  &--gray-light-outline {
    color: $brand-gray-light;
    border: 3px solid $brand-gray-light;
    @extend %animation;
  }

  &--blue-outline {
    color: $brand-blue;
    border: 3px solid $brand-blue;
    @extend %animation;
  }

  &--yellow-outline {
    color: $brand-yellow;
    border: 3px solid $brand-yellow;
    @extend %animation;
  }

  &--green-outline {
    color: $brand-green;
    border: 3px solid $brand-green;
    @extend %animation;
  }

  &--pink-outline {
    color: $brand-pink;
    border: 3px solid $brand-pink;
    @extend %animation;
  }
  // Sizes
  &--lrg {
    font-size: 24px;
    padding: 15px 20px;
  }
}

.btn-wrapper {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
