.custom-form {

  &__input {
    box-sizing: border-box;
    border: 0!important;
    outline: none;
    background-color: $brand-teal!important;
    color: $brand-white!important;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 55px;
    padding: 20px 20px!important;
  }

  &__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $brand-white!important;
  }
  &__input::-moz-placeholder { /* Firefox 19+ */
    color: $brand-white!important;
  }
  &__input:-ms-input-placeholder { /* IE 10+ */
    color: $brand-white!important;
  }
  &__input:-moz-placeholder { /* Firefox 18- */
    color: $brand-white!important;
  }

  &__submit {
    border: 0;
    box-sizing: border-box;
    background-color: $brand-white;
    color: $brand-teal;
    height: 55px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-family: Elephant;
    font-size: 25px;
  }

  .form-input-error {
    border: 1px solid #8B0000!important;
  }

  .form-error-message {
    color: #8B0000;
    display: none;
  }

}

.form-select::after {
  content: '▾';
  position: absolute;
  right: 15px;
  top: calc(50% - 1px);
  transform: translateY(-50%);
}
