.logo_container {

  margin-top: 20px;
  clear: both;

  .col{
    float:left;
    width: 33.33%;
  }

  .logo_address{
    margin: 0 23%;
    color: $brand-red;
    font-weight: bold;
    font-size: 18px;
  }

  .logo_tickets a{
    color: $brand-white;
    border-width: 0px;
    border-radius: 0px;
    font-size: 26px;
    font-family: $font-headers;
    text-transform: uppercase!important;
    background-color: $brand-teal;
    padding: 21px 25px;
    display: inline-block;
  }

  @media only screen and (max-width: 980px)  {

    height: 44px!important;

    .logo_tickets, .logo_address{
      display: none;
    }

    .col{
      width: 100%;
    }

  }


}
