@font-face {
  font-family: 'icomoon';
  src:  url('fonts/cc-icon-font/icomoon.eot?pj2dez');
  src:  url('fonts/cc-icon-font/icomoon.eot?pj2dez#iefix') format('embedded-opentype'),
    url('fonts/cc-icon-font/icomoon.ttf?pj2dez') format('truetype'),
    url('fonts/cc-icon-font/icomoon.woff?pj2dez') format('woff'),
    url('fonts/cc-icon-font/icomoon.svg?pj2dez#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Close:before {
  content: "\e95f";
}
.icon-Chevron-Up:before {
  content: "\e949";
}
.icon-Chevron-Down:before {
  content: "\e94a";
}
.icon-Chevron-Left:before {
  content: "\e95d";
}
.icon-Chevron-Right:before {
  content: "\e95e";
}
.icon-Warning:before {
  content: "\e901";
}
.icon-Security:before {
  content: "\e956";
}
.icon-Safe:before {
  content: "\e957";
}
.icon-Complaint:before {
  content: "\e958";
}
.icon-Cookie:before {
  content: "\e959";
}
.icon-Privacy:before {
  content: "\e95a";
}
.icon-Terms:before {
  content: "\e95b";
}
.icon-Regulation:before {
  content: "\e95c";
}
.icon-EMI:before {
  content: "\e900";
}
.icon-Flexible:before {
  content: "\e902";
}
.icon-Social:before {
  content: "\e903";
}
.icon-Cycle:before {
  content: "\e904";
}
.icon-Ladder:before {
  content: "\e905";
}
.icon-Referral:before {
  content: "\e906";
}
.icon-Recognition:before {
  content: "\e907";
}
.icon-Gaming:before {
  content: "\e908";
}
.icon-Dresscode:before {
  content: "\e909";
}
.icon-Childcare:before {
  content: "\e90a";
}
.icon-Eye-Test:before {
  content: "\e90b";
}
.icon-Charity:before {
  content: "\e90c";
}
.icon-Health-Insurance:before {
  content: "\e90d";
}
.icon-Life-Assurance:before {
  content: "\e90e";
}
.icon-Bupa:before {
  content: "\e90f";
}
.icon-Pension:before {
  content: "\e910";
}
.icon-Birthday:before {
  content: "\e911";
}
.icon-Travel:before {
  content: "\e912";
}
.icon-Runtime:before {
  content: "\e913";
}
.icon-Attendance:before {
  content: "\e914";
}
.icon-Booth:before {
  content: "\e915";
}
.icon-Category:before {
  content: "\e916";
}
.icon-Link:before {
  content: "\e917";
}
.icon-Pin:before {
  content: "\e918";
}
.icon-Time:before {
  content: "\e919";
}
.icon-Tags:before {
  content: "\e91a";
}
.icon-Google:before {
  content: "\e91b";
}
.icon-Facebook:before {
  content: "\e91c";
}
.icon-Twitter:before {
  content: "\e91d";
}
.icon-Linkedin:before {
  content: "\e91e";
}
.icon-Whatsapp:before {
  content: "\e91f";
}
.icon-Quotation-End:before {
  content: "\e920";
}
.icon-Quotation-Start:before {
  content: "\e921";
}
.icon-Resources:before {
  content: "\e922";
}
.icon-Manage:before {
  content: "\e923";
}
.icon-Convert:before {
  content: "\e924";
}
.icon-News:before {
  content: "\e925";
}
.icon-Blog:before {
  content: "\e926";
}
.icon-Calendar:before {
  content: "\e927";
}
.icon-Features:before {
  content: "\e928";
}
.icon-Documentation:before {
  content: "\e929";
}
.icon-About:before {
  content: "\e92a";
}
.icon-Clients:before {
  content: "\e92b";
}
.icon-Team:before {
  content: "\e92c";
}
.icon-History:before {
  content: "\e92d";
}
.icon-Together:before {
  content: "\e92e";
}
.icon-Own:before {
  content: "\e92f";
}
.icon-Focused:before {
  content: "\e930";
}
.icon-Still:before {
  content: "\e931";
}
.icon-Human:before {
  content: "\e932";
}
.icon-Leader:before {
  content: "\e933";
}
.icon-PR:before {
  content: "\e934";
}
.icon-Sales:before {
  content: "\e935";
}
.icon-Affiliate-Program:before {
  content: "\e936";
}
.icon-Technical-Support:before {
  content: "\e937";
}
.icon-Glossary:before {
  content: "\e938";
}
.icon-Minus:before {
  content: "\e939";
}
.icon-Check:before {
  content: "\e93a";
}
.icon-Knowledge-Base:before {
  content: "\e93b";
}
.icon-Legal:before {
  content: "\e93c";
}
.icon-General-Support:before {
  content: "\e93d";
}
.icon-Restricted-Countries:before {
  content: "\e93e";
}
.icon-How-To:before {
  content: "\e93f";
}
.icon-Payment-Guides:before {
  content: "\e940";
}
.icon-Currency-Pairs:before {
  content: "\e941";
}
.icon-Payment-Timelines:before {
  content: "\e942";
}
.icon-Coverage:before {
  content: "\e943";
}
.icon-Pricing:before {
  content: "\e944";
}
.icon-Definition:before {
  content: "\e945";
}
.icon-Information:before {
  content: "\e946";
}
.icon-Question:before {
  content: "\e947";
}
.icon-Menu:before {
  content: "\e948";
}
.icon-Run:before {
  content: "\e94b";
}
.icon-Copy:before {
  content: "\e94c";
}
.icon-FAQs:before {
  content: "\e94d";
}
.icon-GitHub:before {
  content: "\e94e";
}
.icon-SDK:before {
  content: "\e94f";
}
.icon-Cookbooks:before {
  content: "\e950";
}
.icon-Postman:before {
  content: "\e951";
}
.icon-Careers:before {
  content: "\e952";
}
.icon-Pay:before {
  content: "\e953";
}
.icon-API-Play:before {
  content: "\e954";
}
.icon-API:before {
  content: "\e955";
}
.icon-Collect:before {
  content: "\cc956";
}
