

@mixin linear-gradient($color-start, $color-end) {
  //background: $color-start; /* Old browsers */
  background: -moz-linear-gradient(top, $color-start 0%, $color-end 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $color-start 0%, $color-end 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $color-start 0%, $color-end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= $color-start, endColorstr= $color-end ,GradientType=0 ); /* IE6-9 */
}


@mixin icon-styles() {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Define Columns for list elements */
@mixin columns($val) {
    columns: $val;
    -webkit-columns: $val;
    -moz-columns: $val;
}

/* Define Transition Mixins */
@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
