
.pagination {

		margin-bottom: 30px;
		text-align: right;

		.page-numbers {
			display: inline-block;
			padding: 10px 15px;
			margin: 0 2px 0 0;
			border-radius: 3px;
			border: 2px solid #eee;
			line-height: 1;
			text-decoration: none;
			border-radius: 2px;
			font-weight: 600;
			color: $gray-light;
			box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.3);
		}
		.page-numbers.current{
			border-radius: 3px;
			background: $brand-orange;
			border: 2px solid $brand-orange;
			color: $white;
		}

		a.page-numbers:hover {
			background: $brand-gray-light;
			border: 2px solid $brand-gray-light;
			color: $white;
		}

}
