

@font-face {
    font-family: 'Elephant';
    src: url('fonts/elephant-black.ttf');
}

@font-face {
    font-family: 'AmericaStandard';
    src: url('fonts/gt-america-standard-regular.ttf');
}

body{
  font-family: $font-body;
  font-size: $font-body-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headers!important;
}
