

// font Families

$font-headers: "Elephant", sans-serif;
$font-body: "AmericaStandard",sans-serif;

$font-body-size: 16px;


$brand-white: #ffffff;
$brand-red: #ED5C5B;
$brand-teal: #3ac1c5;
$brand-blue: #2A2B87;
$brand-grey: #898989;



//
//
// $header_mobile_height: 106px;
// $header_logo_mobile_height: 56px;
// $header_logo_mobile_width: 100px;
//
// $header_desktop_height: 120px;
// $header_logo_desktop_height: 70px;
// $header_logo_desktop_width: 120px;
//
// //== Colors
// //
// //## Gray and brand colors for use across Site.
//
// $gray-base:              #000 !default;
// $gray-darker:            lighten($gray-base, 13.5%) !default; // #222
// $gray-dark:              lighten($gray-base, 20%) !default;   // #333
// $gray:                   lighten($gray-base, 33.5%) !default; // #555
// $gray-light:             lighten($gray-base, 86.7%) !default; // #777
// $gray-lighter:           lighten($gray-base, 98.5%) !default; // #eee
//
// $white: #fff;
//
// $logo-white:           'img/logo/white.svg';
// $logo-orange:          'img/logo/orange.svg';
//
// $brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
// $brand-success:         #5cb85c !default;
// $brand-info:            #5bc0de !default;
// $brand-warning:         #f0ad4e !default;
// $brand-danger:          #d9534f !default;
//
// // brand colours
//
// $brand-gray:                    #414042;
//     $brand-gray-light:              #717072;
//     $brand-gray-lighter:            #A09FA0;
//     $brand-gray-lightest:           #CFCFD0;
//
// $brand-orange:                  #FF5000;
//     $brand-orange-light:            #FF7C40;
//     $brand-orange-lighter:          #FFA77F;
//
// $brand-blue:                    #3AB0C9;
//     $brand-blue-light:              #6CC4D7;
//     $brand-blue-lighter:            #9DD7E4;
//
// $brand-yellow:                  #FFD729;
//     $brand-yellow-light:            #FFE140;
//     $brand-yellow-lighter:          #FFEB7F;
//
// $brand-green:                   #95D628;
//     $brand-green-light:             #B0E140;
//     $brand-green-lighter:           #CAEA7F;
//
// $brand-pink:                    #E72A95;
//     $brand-pink-light:              #ED60B0;
//     $brand-pink-lighter:            #F394CA;
//
//
//
//
// // Font Sizes
//
// $font-small: 10px;
// $font-regular: 14px;
// $font-medium: 18px;
// $font-large: 25px;
//
// $font-navigation: 16px;
//
//
// // font weight
//
//
// $font-weight-lightest: 100;
// $font-weight-light: 200;
// $font-weight-regular: 300;
// $font-weight-heavier: 400;
// $font-weight-bold: 800;
// $font-weight-boldest: 900;
//
// // font colours
//
// $text-color: $brand-gray;
// $header-default-color: #A09FA0;
