/*
 Theme Name:   Divi Child Theme
 Theme URI:    http://elegantthemes.com/
 Description:  Divi Child Theme
 Author:       ElegantThemes
 Author URI:   http://elegantthemes.com
 Template:     Divi
 Version:      0.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: responsive-layout, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, featured-images, full-width-template, post-formats, rtl-language-support, theme-options, threaded-comments, translation-ready
 Text Domain:  divi-child-theme
*/

/* Variables */
@import "base/variables";

// /* Alerts */
// @import "base/alerts";
//
// /* Forms */
@import "base/forms";
//
// /* Mixins */
// @import "base/mixins";
//
/* Typography */
 @import "base/typography";

 @import "partials/header";

 @import "partials/footer";

//
// /* Currencycloud Icons */
// @import "base/icon-font";
//
// /* base button styles */
// @import "base/buttons";
//
// /* base pagination styles */
// @import "base/pagination";
//
// /* Bower includes */
// @import "../../bower_components/flexboxgrid/dist/flexboxgrid";
//
// // single page collective styles
// @import "pages/single";
//
// @import "pages/job-positions";
//
// @import "pages/events-page";
//
// @import "components/navigation";
// /* custom columns to add DIVI content */
// @import "components/divi-columns";
//
// @import "components/divi-layout-modifiers";
//
// @import "components/breadcrumbs";
//
// // event page
//
// @import "components/page-hero";
//
// @import "components/event-card";
//
// @import "components/event-speakers";
//
// @import "components/event-floorplan";
//
// @import "components/event-company-card";
//
// @import "components/team-card";
//
//
// // blog author
//
// @import "components/blog-author";
//
// // resources thumbnails
//
// @import "components/resources-thumb";
//
//
// /* Sidebar Widgets */
// @import "components/sidebar-widget";
//
// @import "components/event-widget";
//
// /* Header */
// @import "partials/header";
//
// /* Header */
// @import "partials/header-logo";
//
// /* Button */
// @import "partials/button";
//
// /* Input */
// @import "partials/input";
//
// /* Footer */
// @import "partials/footer";

.media .media-icon img[src$='.svg'] {
	width: auto;
	height: auto;
}

// For featured image
#postimagediv .inside img[src$='.svg'] {
	width: 100%;
	height: auto;
}
