.single-layout {
  padding-top: 160px;
  background: $white;

  #sidebar {
    width: 100%;
  }

  &__header img {
    width: 100%;
    margin-bottom: 30px;
  }

  &__content {
    margin-bottom: 40px;
    padding-right: 20px;

    img {
      width: auto;
    }

  }

  &__title {
    font-weight: $font-weight-light!important;
  }

  &__icon {
    font-size: 30px;
    color: $brand-orange;
  }

  &__meta-data {
    border-top: 1px dashed $gray-light;
    border-bottom: 1px dashed $gray-light;
    padding: 20px 0;
    margin-bottom: 20px;

    p {
      line-height: 9px;
    }

    span {
      font-size: $font-regular;
    }

  }

}


.fixedBody{
  position: fixed;
}
